lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*~
.tmp
.sass-cache
.DS_Store

pids
logs
results

node_modules
public/bower_components
config/config.yaml
dist


nbproject
*sublime*
docs
.idea/
*.geany
