<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>[[title]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="[[description]]"/>
    <meta name="keywords" content="[[keywords]]"/>
    [[#doIndex]]
        <meta name="robots" content="all"/>
    [[/doIndex]]
    [[^doIndex]]
        <meta name="robots" content="none">
    [[/doIndex]]
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- Injecting app level config variables -->
    <script type="text/javascript">
        window.CONFIG = {
            signUpURL: '/auth/signup',
            loginURL: '/auth/login',
            logoutURL: '/auth/logout'
        };
        window.USER = [[& user ]];
    </script>
</head>
<body ng-app="mwcDataEntryApp">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->

[[={{ }}=]]
{{{ yield }}}
{{=[[ ]]=}}

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- Add your site or application content here -->
<!--<div class="container" ng-view=""></div>-->

<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>

<!-- build:js scripts/plugins.js -->
<script src="bower_components/bootstrap-sass/js/bootstrap-affix.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-alert.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-dropdown.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-tooltip.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-modal.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-transition.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-button.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-popover.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-typeahead.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-carousel.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-scrollspy.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-collapse.js"></script>
<script src="bower_components/bootstrap-sass/js/bootstrap-tab.js"></script>
<!-- endbuild -->

<!-- build:js scripts/modules.js -->
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="bower_components/kabam-core-web-frontend/components/auth/main.js"></script>
<script src="bower_components/kabam-core-web-frontend/components/auth/controllers/main.js"></script>
<script src="bower_components/kabam-core-web-frontend/components/auth/services/auth.js"></script>
<script src="bower_components/kabam-core-web-frontend/components/auth/services/guard.js"></script>
<script src="bower_components/kabam-core-web-frontend/components/config/main.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<!-- endbuild -->

</body>
</html>
